.talign-center {
    text-align: center
    }
.pink {
    color: pink
    }
.border-1px-solid-gray {
    border: 1px solid gray
    }
.display-inline {
    display: inline
    }
.padding-5 {
    padding: 0.3125em
    }
.green {
    color: green
    }
.bold {
    font-weight: bold
    }
.bgc-hf8f8f8 {
    background-color: #f8f8f8
    }